@inherits LayoutComponentBase
@inject IJSRuntime Js

 
<div class="relative min-h-screen">
    @*  *@
    <NavMenu />
    <ErrorBoundary @ref="@errorBoundary">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <div> <h2>Ocorreu um erro!</h2></div>
        </ErrorContent>
    </ErrorBoundary> 
    @* <div class="p-36"></div> *@
    @* <MainFooter/> *@
</div>


@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await Js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}