@inherits LayoutComponentBase

<div class="grid grid-cols-4">
    <div class="col-span-4 p-2">
        @*<ErrorBoundary @ref="@errorBoundary">
            <ChildContent>
                @Body
            </ChildConte nt>
            <ErrorContent>
                <div> <h2>Ocorreu um erro! @errorBoundary. </h2></div>
            </ErrorContent>
        </ErrorBoundary> *@
        @Body
    </div>
</div>
@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}