@inherits LayoutComponentBase

<div class="grid grid-cols-4">
    <div class="col-span-4 p-2">
        <NavMenu />
    </div>
    <div class="col-span-4 p-1 "></div>
    <div class="col-span-4 p-2">
        <ErrorBoundary @ref="@errorBoundary">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <div> <h2>Ocorreu um erro!</h2></div>
            </ErrorContent>
        </ErrorBoundary>
    </div>
</div>
@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}